// Individual components that are reused

.button {
  background-color: blue;
}

// Hero Image Section
.hero-section {
  display: flex;
  justify-content: center;
  grid-area: lhs;
}

.hero-overlay {
  position: relative;
}

.hero-image {
  max-width: 100%;
}

@media screen and (min-width: 400px) {
  .hero-image {
    max-width: 400px;
  }
}

.hero-heading {
  background-color: white;
  padding: 10px 10px;
  position: absolute;
  top: 350px;
  left: 25px;
  font-size: 32px;
  font-weight: 400;
  .bold {
    font-size: 32px;
    font-weight: bold;
  }
}

.text-and-heading {
  margin-left: 5vw;
  margin-right: 5vw;
  grid-area: rhs;
  & h2 {
    font-family: ;
  }
}
