// Individual components that are reused
@use "./core";

.button {
  background-color: blue;
}

// Hero Image Section
.hero-section {
  display: flex;
  justify-content: center;
  grid-area: lhs;
}

.hero-overlay {
  position: relative;
}

.hero-image {
  max-width: 100%;
}

@media screen and (min-width: 400px) {
  .hero-image {
    max-width: 400px;
  }
}

.hero-heading {
  background-color: white;
  padding: 10px 10px;
  position: absolute;
  top: 350px;
  left: 25px;
  font-size: 32px;
  font-weight: 400;
  .bold {
    font-size: 32px;
    font-weight: bold;
  }
}

// Text & Heading
.text-and-heading {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2rem;
  grid-area: rhs;
  & h2 {
    font-family: core.$heading-font;
  }
}

.callout {
  font-size: 125%;
}

// Skills component
.skills {
  & h2 {
    font-family: core.$heading-font;
    margin-top: 1.5rem;
  }
  margin-right: 10px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skills-container > :first-child {
  margin-top: 0;
}

.skillbar-outer {
  height: 30px;
  background-color: core.$color-dark;
  width: 100%;
  border-radius: 80px;
  position: relative;
  max-width: 557px;
}

.skillbar-inner {
  height: 20px;
  background-color: core.$color-light;
  width: 85%;
  border-radius: 80px;
  position: absolute;
  top: 5px;
  left: 5px;
  &-js {
    max-width: 80%;
  }
  &-python {
    max-width: 65%;
  }
  &-react {
    max-width: 70%;
  }
  &-c {
    max-width: 20%;
  }
  &-bash {
    max-width: 40%;
  }
}

// Card Grid component
.card-grid {
  display: grid;
  justify-items: center;
  gap: 1rem;
  align-items: start;
  grid-template-rows: 300px;
  grid-template-columns: 300px;
}

@media screen and (min-width: 650px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Card Component
.card {
  width: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-contents {
  display: flex;
  flex-direction: column;
  padding: 10px 4px;
  gap: 6px;
}

.card-heading {
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
  overflow-wrap: normal;
}

.card-img {
  height: 170px;
  width: 100%;
  object-fit: contain;
  padding-top: 4px;
  padding-bottom: 4px;
}

.card-copy {
  margin: 5px 7.5px;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (min-width: core.$med-screen) {
  .card-buttons {
    flex-direction: row;
    justify-content: space-around;
  }
}

// Button Component
.button {
  min-width: 100px;
  padding: 5px 20px;
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  &-primary {
    background-color: core.$color-dark;
    color: white;
    &:hover {
      color: core.$color-dark;
      background-color: core.$color-light;
    }
    &:active {
      box-shadow: inset 0px 0px 7.5px core.$color-dark;
    }
    &:focus-visible {
      outline: core.$color-light solid 3.5px;
    }
  }
  &-secondary {
    background-color: core.$color-light;
    color: white;
    &:hover {
      color: core.$color-light;
      background-color: core.$color-dark;
    }
    &:active {
      box-shadow: inset 0px 0px 7.5px 5px white;
    }
    &:focus-visible {
      outline: core.$color-dark solid 3.5px;
    }
  }
}

// Blog Entry
.blog-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw;
  p {
    margin-bottom: 0;
  }
}

@media screen and (min-width: core.$small-screen) {
  .blog-entry {
    p {
      max-width: 55vw;
    }
  }
}

.blog-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-family: core.$heading-font;
    font-size: 1.25em;
  }
  img {
    order: 0;
  }
}

.blog-intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
}

@media screen and (min-width: core.$med-screen) {
  .blog-entry {
    margin: 0 15vw;
    gap: 20px;
  }

  .blog-intro {
    flex-direction: row;
    img {
      order: 1;
    }
  }

  .blog-intro-text {
    order: 0;
  }
}

.feature-image {
  height: auto;
  width: 100%;
  max-width: 477px;
  margin: 10px auto;
}

figcaption {
  margin: 0 4rem;
}

// One-off styles
.styled-link {
  font-weight: bold;
  text-decoration: underline solid inherit;
}
