// Fonts, mixins, variables, similar styles.

// Variables
$small-screen: 650px;
$med-screen: 900px;
$lg-screen: 1200px;

// Set logical sizing & fonts
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-size: 16px;
}

// Reset, adopted from Normalize.css https://necolas.github.io/normalize.css/
body {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}
