// Fonts, mixins, variables, similar styles.

// Variables
$small-screen: 600px;
$med-screen: 800px;
$lg-screen: 1200px;
$color-dark: #03254e;
$color-light: #80b9ff;
$heading-font: "Oswald", serif;
$body-font: "Source Sans Pro", "Arial", sans-serif;

// Set logical sizing & fonts
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $body-font;
  color: $color-dark;
}

// Reset, adopted from Normalize.css https://necolas.github.io/normalize.css/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

hr {
  color: $color-dark;
  min-width: 100px;
  width: 10vw;
}

q {
  font-style: italic;
  display: inline-block;
  margin-bottom: 5px;
}

.center {
  text-align: center;
}

.heading-font {
  font-family: $heading-font;
}
