// Common layouts for entire pages
@use './core';

/* Header */
header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 0;
  max-width: 100vw;
  grid-area: header;
}

@media screen and (min-width: core.$small-screen) {
  header {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media screen and (min-width: core.$med-screen) {
  header {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

/* Navigation */
.navlist {
  display: flex;
  gap: 4vw;
}

.nav-item {
  a {
    font-family: core.$heading-font;
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (min-width: core.$small-screen) {
  .navlist {
    gap: 2vw;
  }
}

/* Overall Layout Grid */
#layout-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';
  min-height: 100vh;
  row-gap: 20px;
}

main {
  grid-area: main;
}

@media screen and (min-width: core.$med-screen) {
  #layout-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'header header'
      'main main'
      'footer footer';
  }
}

/* Main Content Grid */
.home-content-grid {
  display: grid;
  grid-template-areas:
    'lhs'
    'rhs'
    'content1'
    'content2';
  margin-left: 5.5vw;
  margin-right: 5.5vw;
}

@media screen and (min-width: core.$lg-screen) {
  .home-content-grid {
    grid-template-areas:
      'lhs rhs'
      'content1 content2';
    margin-left: 12.5vw;
    margin-right: 12.5vw;
  }
}

.home-content-grid-lhs {
  grid-area: lhs;
}

.home-content-grid-rhs {
  grid-area: rhs;
}

.home-content-grid-content1 {
  grid-area: content1;
}
.home-content-grid-content2 {
  grid-area: content1;
}

/* Footer */
footer {
  grid-area: footer;
  background-color: core.$color-dark;
}

.footlist {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 20px;
}

.lightsvg {
  fill: core.$color-light;
}
