*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  color: #03254e;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
}

body {
  font-size: 18px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

hr {
  color: #03254e;
  min-width: 100px;
  width: 10vw;
}

q {
  font-style: italic;
  display: inline-block;
  margin-bottom: 5px;
}

.center {
  text-align: center;
}

.heading-font {
  font-family: "Oswald", serif;
}

/* Header */
header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 0;
  max-width: 100vw;
  grid-area: header;
}

@media screen and (min-width: 600px) {
  header {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
@media screen and (min-width: 800px) {
  header {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}
/* Navigation */
.navlist {
  display: flex;
  gap: 4vw;
}

@media screen and (min-width: 600px) {
  .navlist {
    gap: 2vw;
  }
}
.nav-item a {
  font-family: "Oswald", serif;
  color: inherit;
  text-decoration: none;
}

.nav-active {
  font-weight: bold;
  text-decoration: solid;
  text-decoration: underline solid #03254e;
}

/* Overall Layout Grid */
#layout-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
  row-gap: 20px;
}

main {
  grid-area: main;
}

@media screen and (min-width: 800px) {
  #layout-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "main main" "footer footer";
  }
}
/* Main Content Grid */
.home-content-grid {
  display: grid;
  grid-template-areas: "lhs" "rhs" "content1" "content2";
  margin-left: 5.5vw;
  margin-right: 5.5vw;
}

@media screen and (min-width: 1200px) {
  .home-content-grid {
    grid-template-areas: "lhs rhs" "content1 content2";
    margin-left: 12.5vw;
    margin-right: 12.5vw;
  }
}
.home-content-grid-lhs {
  grid-area: lhs;
}

.home-content-grid-rhs {
  grid-area: rhs;
}

.home-content-grid-content1 {
  grid-area: content1;
}

.home-content-grid-content2 {
  grid-area: content2;
}

/* Content Grid */
.content-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .text-and-heading {
    max-width: 65vw;
  }
}
/* Footer */
footer {
  grid-area: footer;
  background-color: #03254e;
}

.footlist {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 20px;
}

.lightsvg {
  fill: #80b9ff;
}

.button {
  background-color: blue;
}

.hero-section {
  display: flex;
  justify-content: center;
  grid-area: lhs;
}

.hero-overlay {
  position: relative;
}

.hero-image {
  max-width: 100%;
}

@media screen and (min-width: 400px) {
  .hero-image {
    max-width: 400px;
  }
}
.hero-heading {
  background-color: white;
  padding: 10px 10px;
  position: absolute;
  top: 350px;
  left: 25px;
  font-size: 32px;
  font-weight: 400;
}
.hero-heading .bold {
  font-size: 32px;
  font-weight: bold;
}

.text-and-heading {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2rem;
  grid-area: rhs;
}
.text-and-heading h2 {
  font-family: "Oswald", serif;
}

.callout {
  font-size: 125%;
}

.skills {
  margin-right: 10px;
}
.skills h2 {
  font-family: "Oswald", serif;
  margin-top: 1.5rem;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skills-container > :first-child {
  margin-top: 0;
}

.skillbar-outer {
  height: 30px;
  background-color: #03254e;
  width: 100%;
  border-radius: 80px;
  position: relative;
  max-width: 557px;
}

.skillbar-inner {
  height: 20px;
  background-color: #80b9ff;
  width: 85%;
  border-radius: 80px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.skillbar-inner-js {
  max-width: 80%;
}
.skillbar-inner-python {
  max-width: 65%;
}
.skillbar-inner-react {
  max-width: 70%;
}
.skillbar-inner-c {
  max-width: 20%;
}
.skillbar-inner-bash {
  max-width: 40%;
}

.card-grid {
  display: grid;
  justify-items: center;
  gap: 50px;
  grid-template-rows: 300px;
  grid-template-columns: 300px;
}

@media screen and (min-width: 650px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1000px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card {
  width: 300px;
  min-height: 330px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 7px;
  gap: 6px;
  justify-content: center;
}

.card-heading {
  margin-bottom: 0.25rem;
  overflow-wrap: normal;
}

.card-img {
  height: 170px;
  width: 100%;
  object-fit: contain;
  padding-top: 4px;
  padding-bottom: 4px;
}

.card-copy {
  margin: 5px 7.5px;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (min-width: 800px) {
  .card-buttons {
    flex-direction: row;
    justify-content: space-around;
  }
}
.button {
  min-width: 100px;
  padding: 5px 20px;
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.button-primary {
  background-color: #03254e;
  color: white;
}
.button-primary:hover {
  color: #03254e;
  background-color: #80b9ff;
}
.button-primary:active {
  box-shadow: inset 0px 0px 7.5px #03254e;
}
.button-primary:focus-visible {
  outline: #80b9ff solid 3.5px;
}
.button-secondary {
  background-color: #80b9ff;
  color: white;
}
.button-secondary:hover {
  color: #80b9ff;
  background-color: #03254e;
}
.button-secondary:active {
  box-shadow: inset 0px 0px 7.5px 5px white;
}
.button-secondary:focus-visible {
  outline: #03254e solid 3.5px;
}

.blog-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw;
}
.blog-entry p {
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .blog-entry p {
    max-width: 55vw;
  }
}
.blog-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.blog-intro h1 {
  font-size: 1.75em;
}
.blog-intro h2 {
  font-family: "Oswald", serif;
  font-size: 1.25em;
}
.blog-intro img {
  order: 0;
}

.blog-intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
}

@media screen and (min-width: 800px) {
  .blog-entry {
    margin: 0 15vw;
    gap: 20px;
  }
  .blog-intro {
    flex-direction: row;
  }
  .blog-intro img {
    order: 1;
  }
  .blog-intro-text {
    order: 0;
  }
}
.feature-image {
  height: auto;
  width: 100%;
  max-width: 477px;
  margin: 10px auto;
}

figcaption {
  margin: 0 4rem;
}

.styled-link {
  font-weight: bold;
  text-decoration: underline solid inherit;
}

/*# sourceMappingURL=main.css.map */
